
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to all files, which is necessary for them to be displayed on the website.
    match /{allPaths=**} {
      allow read;
      // Disallow client-side writes completely. All uploads must go through the authenticated server action.
      allow write: if false;
    }
  }
}
